{% extends 'admin/admin_base.html' %}

{% block content %}
<style>
    .header-with-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem; /* Adjust as needed */
    }
</style>
<div class="header-with-button">
    <h1>加盟店舗一覧</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="#">新規加盟店舗登録</a>
        </li>
    </ul>
</div>

<ul class="list-group list-group-flush">
    {% for store in stores %}
    <li class="list-group-item">
        {{ store.store_name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
