{% extends 'core/base.html' %}
{% load static %}

{% block title %}ログイン | GreenReceipt{% endblock %}

{% block content %}
  <form method="post" action="{% url 'accounts:login' %}" class="full">
    {% csrf_token %}
    
    <div class="form-container">
      <p>
        <label for="id_username">ユーザー名:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">パスワード:</label>
        <div class="password-container">
          {{ form.password }}
          <button type="button" class="toggle-password" onclick="togglePasswordVisibility(this, 'id_password')" title="パスワードの表示/非表示を切り替える">表示</button>
        </div>
      </p>
    </div>
    
        {% if form.non_field_errors %}
      <div class="form-errors">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

<!--パスワード表示、非表示-->
    <script>
      function togglePasswordVisibility(button, fieldId) {
        var passwordField = document.getElementById(fieldId);
        if (passwordField.type === "password") {
          passwordField.type = "text";
          button.textContent = "非表示";
        } else {
          passwordField.type = "password";
          button.textContent = "表示";
        }
      }
    </script>
    
    <div class="actions">
      <button type="button" onclick="location.href='{% url 'core:index' %}'">戻る</button>
      <button type="submit">ログイン</button>
    </div>
    <div style="text-align:center; margin-top: 1rem;">
      <a href="{% url 'password_reset' %}">パスワードを忘れましたか？</a>
    </div>
  </form>
{% endblock %}
