{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}パスワード変更完了 | GreenReceipt{% endblock %}

{% block content %}
  <div class="full" style="text-align: center;">
    <div style="text-align:center; margin-bottom: 15px;">
        <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" style="width:200px;">
    </div>
    <h2>パスワード変更完了</h2>
    <p>パスワードが正常に変更されました。</p>
    <div class="actions">
        <a href="{% url 'core:main_menu' %}">メインメニューに戻る</a>
    </div>
  </div>
{% endblock %}