{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}プロフィール編集 | GreenReceipt{% endblock %}

{% block content %}
  <form method="post" class="full">
    {% csrf_token %}
    <div style="text-align:center;">
      <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" style="width:200px;margin-bottom:15px;">
    </div>
    <h2>プロフィール編集</h2>
    <div class="form-container">
      {{ form.as_p }}
    </div>
    <div class="actions">
      <button type="button" onclick="history.back()">戻る</button>
      <button type="submit">更新</button>
    </div>
    
    <hr class="my-4">
    <div class="text-end mt-3">
        <a href="{% url 'accounts:request_withdrawal' %}" class="text-danger small" onclick="return confirm('本当に退会手続きに進みますか？')">退会手続きはこちら</a>
    </div>
  </form>
{% endblock %}