{% extends 'core/base.html' %}
{% load static %}

{% block title %}新規登録 | GreenReceipt{% endblock %}

{% block content %}
<form method="post" action="{% url 'accounts:register' %}" class="full">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% if field.name == 'password1' or field.name == 'password2' %}
        <div class="password-container">
          {{ field }}
          <button type="button" class="toggle-password" onclick="togglePasswordVisibility(this, '{{ field.id_for_label }}')" title="パスワードの表示/非表示を切り替える">表示</button>
        </div>
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted list-none">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <div class="alert alert-danger" >{{ error }}</div>
      {% endfor %}
    </div>
  {% endfor %}
<!--パスワード表示、非表示-->
  <script>
    function togglePasswordVisibility(button, fieldId) {
      var passwordField = document.getElementById(fieldId);
      if (passwordField.type === "password") {
        passwordField.type = "text";
        button.textContent = "非表示";
      } else {
        passwordField.type = "password";
        button.textContent = "表示";
      }
    }
  </script>

  <div class="actions" style="text-align:center;">
    <button type="button" onclick="history.back()">戻る</button>
    <button type="submit">確認</button>
  </div>
</form>
{% endblock %}
