{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}GreenReceipt{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-container">
          <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" class="logo" />
          </div>

          <div class="user-info desktop-only">
            {% if user.is_authenticated %}
              <span class="welcome">ようこそ、{{ user.username }}さん</span>
              <a href="{% url 'accounts:profile_edit' %}" class="logout-button btn">プロフィール編集</a>
              <form method="post" action="{% url 'accounts:logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">ログアウト</button>
              </form>
            {% endif %}
          </div>

          <div class="hamburger-menu mobile-only">
            <span class="welcome">ようこそ、{{ user.username }}さん</span>
            <button class="hamburger-icon" onclick="toggleMenu()">&#9776;</button>
            <div class="menu-items" id="menu-items">
              {% if user.is_authenticated %}
                <button type="button" class="logout-button"onclick="location.href='{% url 'accounts:profile_edit' %}'">プロフィール編集</button>
                <form method="post" action="{% url 'accounts:logout' %}" class="logout-form">
                  {% csrf_token %}
                  <button type="submit" class="logout-button">ログアウト</button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </header>

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <main>
        {% block content %}{% endblock %}
      </main>

      <footer>
        <nav class="bottom-nav">
          <a href="/menu/" class="nav-item">
            <img src="{% static 'img/home.png' %}" alt="ホーム"><span>ホーム</span>
          </a>
          <a href="/result/" class="nav-item">
            <img src="{% static 'img/result.png' %}" alt="読み取り履歴"><span>読み取り履歴</span>
          </a>
          <a href="/receipts/" class="nav-item">
            <img src="{% static 'img/scan.png' %}" alt="スキャン"><span>スキャン</span>
          </a>
          <a href="/reports/" class="nav-item">
            <img src="{% static 'img/report.png' %}" alt="AIレポート"><span>AIレポート</span>
          </a>
          <a href="/inquiries/" class="nav-item">
            <img src="{% static 'img/mail.png' %}" alt="お問い合わせ"><span>お問い合わせ</span>
          </a>
        </nav>
      </footer>
    </div>
  </body>
</html>