<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>GreenReceipt | トップ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    </head>
  <body>

    <div id="splash-screen">
      <div class="falling-leaves">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div id="ripple-container">
        <div class="ripple" style="left:50%; top:50%;"></div>
        <div class="ripple" style="left:50%; top:50%;"></div>
        <div class="ripple" style="left:50%; top:50%;"></div>
      </div>
      <img src="{% static 'img/logo_1.png' %}" alt="GreenReceipt ロゴ" id="splash-logo" />
    </div>
    <div class="wrapper">
      <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" class="logo" />

      <p class="catchcopy">〜いつもの買い物がエコ活動になる〜</p>

      <div class="section">
        <p>初めてご利用の方はこちら</p>
        <button onclick="location.href='{% url 'accounts:register' %}'" style="margin-top: 16px;">新規登録</button>
      </div>

      <div class="section">
        <p>既にアカウントをお持ちの方はこちら</p>
        <button onclick="location.href='{% url 'accounts:login' %}'" style="margin-top: 16px;">ログイン</button>
      </div>
    </div>
    <script>
      const splashScreen = document.getElementById('splash-screen');
      // 2秒後にアニメーションを終了
      const splashDuration = 2000;

      setTimeout(() => {
        splashScreen.classList.add('hidden');
        setTimeout(() => {
          splashScreen.style.display = 'none';
        }, 800); 
      }, splashDuration);
    </script>
    </body>
</html>