{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}新しいパスワードの設定{% endblock %}

{% block content %}
  <form method="post" class="full">
    {% csrf_token %}
    <div style="text-align:center;">
      <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" style="width:200px;margin-bottom:15px;">
    </div>
    <h2>新しいパスワードの設定</h2>
    <div class="form-container">
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {% if field.name == 'new_password1' or field.name == 'new_password2' %}
            <div class="password-container">
              {{ field }}
              <button type="button" class="toggle-password" onclick="togglePasswordVisibility(this, '{{ field.id_for_label }}')" title="パスワードの表示/非表示を切り替える">表示</button>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
<!--パスワード表示、非表示-->
    <script>
      function togglePasswordVisibility(button, fieldId) {
        var passwordField = document.getElementById(fieldId);
        if (passwordField.type === "password") {
          passwordField.type = "text";
          button.textContent = "非表示";
        } else {
          passwordField.type = "password";
          button.textContent = "表示";
        }
      }
    </script>

    
    <div class="actions">
      <button type="button" onclick="location.href='{% url 'accounts:login' %}'">戻る</button>
      <button type="submit">パスワードをリセット</button>
    </div>
  </form>
{% endblock %}
