<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        GreenReceipt
      {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="{% static 'img/logo.png' %}" alt="GreenReceipt ロゴ" class="logo" />
      </header>

      <main>
        {% block content %}

        {% endblock %}
      </main>

      <footer>
        <nav class="bottom-nav">
          <a href="/" class="nav-item">
            <img src="{% static 'img/home.png' %}" alt="ホーム" />
            <span>ホーム</span>
          </a>
          <a href="/result/" class="nav-item">
            <img src="{% static 'img/result.png' %}" alt="読み取り履歴" />
            <span>読み取り履歴</span>
          </a>
          <a href="/receipts/" class="nav-item">
            <img src="{% static 'img/scan.png' %}" alt="レシート読み取り" />
            <span>スキャン</span>
          </a>
          <a href="/reports/" class="nav-item">
            <img src="{% static 'img/report.png' %}" alt="AIレポート" />
            <span>AIレポート</span>
          </a>
          <a href="/inquiries/" class="nav-item">
            <img src="{% static 'img/mail.png' %}" alt="お問い合わせ" />
            <span>お問い合わせ</span>
          </a>
        </nav>
      </footer>
    </div>
  </body>
</html>
