body {
  font-family: "Yu Gothic", sans-serif;
  background: linear-gradient(#d9f0d2, #90ee90);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 360px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 260px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 80%;
  padding: 6px;
  margin: 5px 0;
  border: 1px solid #777;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 120px;
  padding: 6px;
  margin: 8px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #d3ffd3;
}
